.cnt1{ margin-top: 3em; }

.col-3{ margin-top: 2em; }

.modal-dialog{ max-width: 35em; }

.esp .row { margin: 1em 0em; }

.imgtop { margin: 2em; }

.btnag{ border: .1em solid black; }

.btnaceptar{ 
    color: white;
    background-color: rgb(24, 116, 223);
}

.btnaceptar:hover{
    background-color: rgb(21, 98, 185);
    color: white;
}

.btnag:hover{
    background-color: black;
    font-weight: 600;
    color: white;
}

i{ font-size: 1em; }